.nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__search {
    flex: 0 0 40%;
  }

  &__link-2 {
    text-decoration: none;
    color: #a194db;

    &:hover {
      color: #ffffff;
      border-bottom: 3px solid #ffffff;
    }
  }

  &__link-3 {
    text-decoration: none;
    color: #a194db;

    &:hover {
      color: #ffffff;
      border-bottom: 3px solid #ffffff;
    }
  }

  &__link-4 {
    text-decoration: none;
    color: #a194db;

    &:hover {
      color: #ffffff;
      border-bottom: 3px solid #ffffff;
    }
  }
}

#home {
  text-decoration: none;
  color: #a194db;

  &:hover {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
  }
}

.search__input {
  height: 2.5rem;
  color: #dfdbdb;
  background-color: transparent;
  border: 1px solid #dfdbdb;
  // border-style: none;
  border-radius: 10px;

  padding-left: 10px;
  transition: all 0.35s ease-in-out;

  @media only screen and (max-width: 600px) {
    height: 2.25rem;
    font-size: 1.25rem;
  }

  &::placeholder {
    color: #dfdbdb;

    @media only screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }

  &:focus {
    outline-style: none;
    transform: translateY(-6px);
  }
}

// background color - #6B0E0E
// boxes color - #F1ECEB
// search input background color - #F1ECEB
// country name and numbers color - #C69488
// label color - #AE938E
// search placeholder and unselected nav links color - #D6B5AC
// selected nav link color and bar below it - #B98A7E
